* {
  margin: 0;
  font-family: 'Bungee Inline', 'Courier New', Courier, monospace;
  outline: none;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
}

.App {
  height: 100vh;
}

.sliced {
  color: white;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bungee Inline', 'Courier New', Courier, monospace;
  margin: auto;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
  color: black;
  gap: 1.5rem;
  padding: 0 1rem;
}

.navSliced {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.oneImage {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  margin: auto;
}
select {
  color: black;
}
.reviewField,
.newCourse {
  width: 20vw;
  height: 10vh;
  color: black;
}

.user {
  color: black;
}
.form-container {
  width: 60vw;
  border: 2px solid black;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  background-color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
}

button {
  color: black;
  height: 3vh;
  width: 10vh;
}

.enterReview {
  padding: 10px;
  background: white;
  width: 10%;
  height: 10vh;
  border-radius: 10px;
  margin: auto;
  border: black 10px solid;
}

.flex {
  display: flex;
  justify-content: center;
}
.courseMap {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: flex;
  justify-content: center;
}

.coursesHeader {
  display: flex;
  justify-content: center;
}

.reviewHeader {
  color: black;
}

.formStyle {
}

.userRating {
}

.reviewSubmitBtn {
}
