* {
  margin: 0;
  font-family: 'Bungee Inline', 'Courier New', Courier, monospace;
  outline: none;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
}

.App {
  height: 100vh;
}

.sliced {
  color: white;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bungee Inline', 'Courier New', Courier, monospace;
  /* margin: auto; */
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
  color: black;
  gap: 1.5rem;
  padding: 0 1rem;
}

.navSliced {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

h1,
h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.allCourses {
  color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bungee Inline', 'Courier New', Courier, monospace;
}

.courseCard {
  width: 80vw;
}

img {
  width: 50%;
  height: 50%;
}

.oneImage {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.details {
  display: block;
}
