.courseName {
  align-items: center;
  color: white;
}

.phoneNum {
  color: white;
}

.courseDesc {
  position: relative;
  top: 25px;
  left: 25px;
  padding: 10px;
  display: flex;
  flex: 1;
}
.image1 {
  width: 25%;
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
}
.image2 {
  width: 25%;
  position: absolute;
  bottom: 15px;
  left: 9px;
  width: 25%;
}

.desc {
  font-size: medium;
}

.leaveReview {
  float: right;
}

.reviewForm {
  float: right;
}
