.courseName {
  align-items: center;
  color: white;
}

.phoneNum {
  color: white;
}

.courseDesc {
  top: 25px;
  left: 25px;
  padding: 10px;
  display: flex;
  justify-content: left;
  /* border: 2px solid red; */
  width: 50%;
  float: left;
}
.image1 {
  width: 500px;
  top: 0;
  left: 0;
  float: left;
}
.image2 {
  /* position: absolute; */
  bottom: 160px;
  left: 250px;
  width: 500px;
  float: right;
}

.desc {
  font-size: medium;
}

.leaveReview {
  float: right;
}

.reviewForm {
  float: right;
}

.enterReview {
  cursor: pointer;
}

.h3 {
  align-items: center;
  width: 70%;
  font-size: 15px;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.reviewss {
  /* border: 2px solid blue; */
  width: 650px;
  overflow: hidden;
  height: 500px;
}

.wrapper {
  width: 100%;
  /* border: 1px solid white; */
  overflow: hidden;
}
