.commentBox {
  padding: 10px;
  background: black;
  width: 60vh;
  border-radius: 10px;
  margin: auto;
  border: 2px solid black;
  color: white;
  margin: 2vh;
}

.singleReview {
  background-color: white;
  padding: 2vh;
}
