.featured {
  color: white;
  text-align: center;
}

.idek {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.courseMap {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
}

.view {
  cursor: pointer;
}

.addBtn {
  cursor: pointer;
}
